In [2]:
import pandas as pd

In [8]:
datos = {"nombre":["Pedro","Juan","Lorena"],"edad":[25,29,33]}
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 29, 33]}

In [10]:
df = pd.DataFrame(datos)
df

   nombre  edad
0   Pedro    25
1    Juan    29
2  Lorena    33

In [12]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df["nombre"]

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [16]:
df.nombre

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [18]:
type(df.nombre)

pandas.core.series.Series

In [20]:
df.shape

(3, 2)

In [22]:
df.columns

Index(['nombre', 'edad'], dtype='object')

In [24]:
df.index

RangeIndex(start=0, stop=3, step=1)